### Hey, I'm Avi

I'm a {{age}}-year-old Israeli web dev guy who's mostly experienced with browser extension development and fascinated by AI

Feel free to reach out via [email](mailto:avi6106@gmail.com), [LinkedIn](https://linkedin.com/in/avi12) and Discord
